# Byte-compiled / Python files
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
dist/
build/
develop/
models/__pycache__/
# Various
*.egg-info/
.eggs/

# Zip files
*.zip

# IPython Notebook files
*.ipynb

# Logs and temporary files
logs/
local.xml

# Test results
.pytest_cache/
htmlcov/
.coverage

# Virtualenv
venv/
env/

# Editor-specific
.vscode/